:root
  height 100%
body
  margin 0
  height 100%
  .contents
    position relative
    height 100%
    width 100%
    display flex
    align-content stretch
    align-items stretch
    div
      width 100%
.us2016
  background #27A1C5
.eu2016
  background url('/eu2016/img/pgday-eu-bg.svg') no-repeat center
  background-size cover
